<head>
<meta name="csrf-token" content="<%= form_authenticity_token %>" />
</head>
<html lang="en">
  <%= stylesheet_link_tag 'local.css' %>

  <h1 style="text-align: center"> PIPELAYER </h1>
  <div>
    <% (1..7).each do |height| %>
      <% (1..6).each do |width| %>
        <% @div_id = "circle_#{((height - 1) * 7) + width}" %>
        <% @div_style = "left: #{22.5 + ((width - 1) * 10)}vw; top: #{20 + ((height - 1) * 10)}vh;" %>
        <div id="<%= @div_id %>" class="redCircles" style="<%= @div_style %>"></div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% (1..6).each do |height| %>
      <% (1..7).each do |width| %>
        <% @div_id = "circle_#{((height - 1) * 6) + width}" %>
        <% @div_style = "left: #{17.5 + ((width - 1) * 10)}vw; top: #{25 + ((height - 1) * 10)}vh;" %>
        <div id="<%= @div_id %>" class="blueCircles" style="<%= @div_style %>"></div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% (1..6).each do |height| %>
      <% (1..6).each do |width| %>
        <% @button_value = "button_#{((height - 1) * 6) + width}" %>
        <% @button_style = "position: absolute; left: #{22.5 + ((width - 1) * 10)}vw; top: #{22 + ((height - 1) * 10)}vh; width: 1vw;
  height: 8vh;" %>
        <div>
          <%= form_tag(pvp_local_action_path) do %>
            <%= button_tag "", name: 'red_button', class: 'red-button', value: @button_value, style: @button_style, disabled: @disable_button %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% (1..6).each do |height| %>
      <% (1..6).each do |width| %>
        <% @button_value = "button_#{((height + 6 - 1) * 6) + width}" %>
        <% @button_style = "position: absolute; left: #{19.5 + ((width - 1) * 10)}vw; top: #{25 + ((height - 1) * 10)}vh; width: 8vw;
  height: 2vh;" %>
        <div>
          <%= form_tag(pvp_local_action_path) do %>
            <%= button_tag "", name: 'blue_button', class:'blue-button', value: @button_value, style: @button_style, disabled: @disable_button %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>



  <script>

    const redButtons = Array.from(document.querySelectorAll('.red-button'));
    const blueButtons = Array.from(document.querySelectorAll('.blue-button'));

    redButtons.forEach(button => {
      button.addEventListener('click', () => {

        button.disabled = true
        button.classList.add('used-red-space');
        button.classList.remove('red-button');

        redButtons.forEach(redButton => {
          if (!redButton.disabled && redButton != button) {
            redButton.style.display = 'none';
          }
        })
        blueButtons.forEach(blueButton => {
          if (!blueButton.disabled) {
            blueButton.style.display = 'block';
          }
        })

        blueButtons[redButtons.indexOf(button)].disabled = true;
        blueButtons[redButtons.indexOf(button)].classList.add('wasted-space');
        blueButtons[redButtons.indexOf(button)].classList.remove('blue-button');

        sendDataToController(button.value)

      });
      
    })

    blueButtons.forEach(button => {
      button.addEventListener('click', () => {

        button.disabled = true;
        button.classList.remove('blue-button');
        button.classList.add('used-blue-space');

        blueButtons.forEach(blueButton => {
          if (!blueButton.disabled && blueButton != button) {
            blueButton.style.display = 'none';
          }
        })
        redButtons.forEach(button => {
          if (!button.disabled) {
            button.style.display = 'block';
          }
        })

        redButtons[blueButtons.indexOf(button)].disabled = true;
        redButtons[blueButtons.indexOf(button)].classList.remove('red-button');
        redButtons[blueButtons.indexOf(button)].classList.add('wasted-space');

        sendDataToController(button.value)
      });
    })

    function sendDataToController(value) {
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      const headers = {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken,
      };

      fetch('/action', {
        method: 'POST',
        headers: headers,
        body: JSON.stringify({ val: value }),
      })
        .then(response => response.json())
        .then(data => {
          // Handle the response from the controller
          console.log(data);
        })
        .catch(error => {
          // Handle any errors
          console.error('Error:', error);
        });
    }


  </script>

</html>




