<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Click Me', pvp_online_index_path %>
<%= link_to 'Click Me', pvp_bot_index_path %>

<%= link_to 'Click Me', online_path %>
<%= link_to 'Click Me', bot_path %>
<%= link_to 'Click Me', local_path %>
<%= link_to 'Click Me', home_about_path %>
